

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">The New York Times Best Sellers</a>

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-nav">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

    </div>


    <div id="top-nav" class="navbar-collapse collapse">

        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#/fictions" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-gift glyphicon-white"></i>
                    Livros de Ficção
                    
                </a>
				
            </li>
			<li class="dropdown">
                <a href="#/nonFictions"  >
                    <i class="glyphicon glyphicon-gift glyphicon-white"></i>
                    Livros de Não Ficção
                    
                </a>
				
            </li>
        </ul>



        <div class="nav navbar-form pull-right">
            <div ng-show="!authService.isLoggedIn()">
                <a href="#loginModal" role="button" class="btn btn-primary" data-toggle="modal">
                    <i class="glyphicon glyphicon-user glyphicon-white"></i> Sign in</a>
            </div>
            <div ng-show="authService.isLoggedIn()">
                <a class="btn btn-primary" ng-click="authService.logout()">
                    <i class="glyphicon glyphicon-off glyphicon-white"></i> Sign out</a>
            </div>
        </div>

        <div ng-show="authService.isLoggedIn()">
            <ul class="nav navbar-nav pull-right">

                <li ng-show="authService.isLoggedIn()" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-user glyphicon-white"></i>

                        <b class="caret"></b>
                    </a>

                    <ul class="dropdown-menu">
                        <li><a href="#/">User Profile</a></li>
                        <li><a href="#/">Change password</a></li>
                    </ul>
                </li>

            </ul>

        </div>

    </div>
</nav>


<div class="container" fade-in>


    <div style="padding-top: 2em;">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <!--<ul class="phones">
        <li ng-repeat="nonFiction in nonFictions.results | filter:query | orderBy:orderProp"
            class="thumbnail phone-listing">
          <a href="#/nonFictions/{{nonFiction.book_details[0].title}}/{{nonFiction.book_details[0].author}}" class="thumb"><img ng-src="{{nonFiction.book_details[0].book_image}}" alt="{{nonFiction.book_details[0].title}}"></a>
          <a href="#/nonFictions/{{nonFiction.book_details[0].title}}/{{nonFiction.book_details[0].author}}">{{nonFiction.book_details[0].title}}</a>
          <p>{{nonFiction.results[0].name}}</p>
		  <p>Hello, {{nonFictions}}!</p>
        </li>
      </ul>-->

        
          <ul class="phones">
		  <p>Hello, {{nonFictions}}!</p>
        
        
      </ul>
    </div>
  </div>
</div>
</div>

</div>

